.board {
    width: 100%;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (orientation: landscape) {
    div.board {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
